/* LeftSidebarBox */
.sidebar-box {
    @apply w-[40vw] fixed top-[80px] left-0 bg-background z-[51]
    overflow-x-hidden transition-all duration-[0.4s];
    height: calc(100vh - 80px);
}

/* LeftSidebar ul li */
.sidebar-item {
    @apply w-full h-max pl-7 pr-5 flex justify-start items-center duration-100
    transition-all relative;
}

.ls-header-item {
    @apply relative;
}

.sidebar-item::after,
.ls-header-item::after {
    content: "";
    @apply absolute left-0 top-0 bg-foreground opacity-0 w-full h-full transition-opacity duration-[0.1s];
}

.sidebar-item:hover::after,
.ls-header-item::after {
    @apply opacity-5;
}

.sidebar-text {
    @apply text-[0.9rem] py-1 font-default z-[10] w-full text-start;
}

.link-item:hover .link-btn {
    @apply h-[24px];
    transform: scale(1.1);
}

.left-open {
    animation: left-opening-animation 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}

.right-open {
    animation: right-opening-animation 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}

.left-close {
    animation: left-closing-animation 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}

.right-close {
    animation: right-closing-animation 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}

.user-link:hover .user-icon {
    @apply scale-110;
}

@keyframes right-opening-animation {
    from {
        transform: translate(-100%, 0%);
        opacity: 0.8;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes left-opening-animation {
    from {
        transform: translate(100%, 0%);
        opacity: 0.8;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}


@keyframes left-closing-animation {
    from {
        transform: translate(-100%, 0%);
        opacity: 1;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 0;
    }
}

@keyframes right-closing-animation {
    from {
        transform: translate(100%, 0%);
        opacity: 1;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 0;
    }
}