@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000;
    /* --background: #1f1f1f; */
    /* --foreground: #ffffff; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.icons {
  @apply w-[18px] h-[18px] transition-all duration-75 hover:scale-110;
}


.top-open-animation {
  animation: top-opening-animation 0.2s 0s 1 linear;
}

.top-close-animation {
  animation: top-closing-animation 0.3s 0s 1 linear;
}


@keyframes top-opening-animation {
  from {
    transform: translate(0%, -20%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes top-closing-animation {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0%, -100%);
  }
}

.bg-transparent-black {
  background-color: rgba(0, 0, 0, 0.25);
}

.appear-animation {
  animation: appear-animation 0.2s 0s 1 linear;
}

@keyframes appear-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.underline-hover {
  @apply relative hover:underline decoration-2;
}

.underline-hover:after {
  content: "";
  @apply absolute bg-black left-0 bottom-0 w-full h-[1px] -translate-y-[1px];
}

.underline-hover:hover::after {
  @apply w-0;
}

.link-btn {
  position: relative;
}

.link-btn::after {
  content: "";
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full -z-10;
  background-color: inherit;
}

.link-btn:hover::after {
  transform: translate(-50%, -50%) scale(1.03, 1.03);
}
