@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #fff;
  --foreground: #18181b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased min-h-screen w-screen overflow-x-hidden bg-background 
  text-foreground transition-colors ease-out duration-300;
}

.icons {
  @apply w-[18px] h-[18px] transition-all duration-75 hover:scale-110;
}


.top-open-animation {
  animation: top-opening-animation 0.2s 0s 1 linear;
}

.top-close-animation {
  animation: top-closing-animation 0.3s 0s 1 linear;
}


@keyframes top-opening-animation {
  from {
    transform: translate(0%, -20%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes top-closing-animation {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0%, -100%);
  }
}

.bg-transparent-black {
  background-color: rgba(0, 0, 0, 0.25);
}

.appear-animation {
  animation: appear-animation 0.2s 0s 1 linear;
}

@keyframes appear-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.underline-hover {
  @apply relative hover:underline decoration-2;
}

.underline-hover:after {
  content: "";
  @apply absolute bg-foreground left-0 bottom-0 w-full h-[1px] -translate-y-[1px];
}

.underline-hover:hover::after {
  @apply w-0;
}

.link-btn {
  position: relative !important;
}

.link-btn span {
  @apply bg-transparent z-[10];
}

.center-absolute {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.link-btn-css {
  @apply absolute center-absolute bg-inherit ;
}

.link-btn::before {
  @apply link-btn-css hidden ;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.link-btn::after {
  content: "";
  @apply link-btn-css size-full;
  background-color: inherit;
}

.link-btn:hover::before {
  content: "";
  @apply block;
}

.container {
  @apply sm:w-[94%] md:w-[90%] lg:w-[85%] xl:w-[80%] 2xl:w-[75%] max-w-[1152px];
}

.container-box {
  @apply w-screen justify-center flex;
}

.section-title {
  @apply w-full font-teachers font-black text-[1.575rem];
}

.loading {
  @apply relative;
}

/* Add the shimmer effect in the ::before pseudo-element */
.loading::before {
  content: "";
  @apply absolute left-0 top-0 z-[1]; /* Apply Tailwind utilities */
  background: linear-gradient(to bottom right, #0000 calc(50% - 40px), #fff 50%, #0000 calc(50% + 40px)); /* Linear gradient */
  background-size: calc(200% + 80px) calc(200% + 80px); /* Gradient size */
  background-position: bottom right; /* Initial position */
  animation: l8 1s infinite; /* Animation */
  background-color: var(--foreground); /* Apply background color */
}

/* Keyframes for the animation */
@keyframes l8 {
  100% {
    background-position: top left;
  }
}